body {
  background-image: url(https://user-images.githubusercontent.com/87577172/151715542-22a9aaa8-8948-4d61-93b7-d9715a57413b.png);
  background-repeat: no-repeat;
/* background-size: cover; */
  
}
.App {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}