/* 
videogames-side
videogames-search
videogames-nav
videogames-header
videogames-pages
videogames-CreateGame 
container-videogames-interno-left
container-videogames-interno-right
*/
body {
    background: #1B1555;
}


.container-videogames{
width: 100%;
height: 1000px;
background: #33438F;
display: flex;
justify-content: center;
align-items: center;
}
.container-videogames-interno{
    width: 90%;
    height: 900px;
    background: #141243;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.container-videogames-interno-left{
    width: 18%;
    height: 900px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container-videogames-interno-right{
    width: 80%;
    height: 900px;
    background: transparent;
    display: flex;
    flex-direction: column;
    
}

.videogames-side{
    width: 80%;
    height: 850px;
    border-radius: 20px;
    background: rgb(70,55,242);
    /* box-shadow: 0 0 20px #eee; */
    background: linear-gradient(90deg, rgba(70,55,242,1) 0%, rgba(100,60,248,1) 34%, rgba(136,67,254,1) 80%);
    /* background-color: rgba(78, 88, 235, 0.3); */
    /* background-color: rgba(78, 88, 235, 0.9); */
    /* background: rgb(136,67,254);
    background: linear-gradient(90deg, rgba(136,67,254,1) 0%, rgba(100,60,248,1) 34%, rgba(70,55,242,1) 80%); */
}
.interno-right-nav{
    width: 100%;
    height: 100px;
    /* background-color: rgba(78, 88, 235, 0.4); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.videogames-search {

}

.search-input{
  width: 300px;
  height: 50px;
  background-color: rgba(78, 88, 235, 0.3);
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  padding-left: 10px;
}
.search-input::placeholder{
 
    color: #ffffff;
    font-size: 15px;
}
.search-btn{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: none;
  position: absolute;
  background: rgb(70,55,242);
  background: linear-gradient(90deg, rgba(70,55,242,1) 0%, rgba(100,60,248,1) 34%, rgba(136,67,254,1) 80%);
  transform: translate(-50px);
}
.search-btn::after{
    content: '';
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    transform: translate(-13px, -13px);
  }
  .search-btn::before{
    content: '';
    height: 10px;
    background: transparent;
    border: 2px solid #ffffff;
    position: absolute;
    border-top: none;
    border-right: none;
    border-bottom: none;
    transform: rotate(-40deg);
    margin-top: 6px;
    margin-left: 9px;
  }
.videogames-nav{
    display: flex;
}
.videogames-nav-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-300px);
}
.videogames-nav-content1 > ul{
display: flex;
gap: 70px;
/* ///////////////// */
pointer-events: none;
user-select: none;

}
.videogames-nav-content1 > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    /* ///////////////////
     */
   position: relative;
   margin-left: 1rem; 
   margin-right: 1rem;
   pointer-events: all;
   justify-self: center;
   transition: all .4s ;
    }
    .videogames-nav-content1 > ul > li >a::before{
        position: absolute;
        content: "";
        width: 0px;
        height: 4px;
        background: rgba(70,55,242,1);
        left: 50%;
        bottom: -7px;
        border-radius: 5px;
    }
    .videogames-nav-content1 ul li:hover a::before  {
        width: 100%;
        left: 0;
        transition: all .4s ;
    }
     .videogames-nav-content1 > ul > li > a{
        transition: all 1s;
        text-decoration: none;
        color: #ffffff;
    }  
     .videogames-nav-content1 ul:hover li a{
        transition: all 1s;
        color: rgba(136,67,254,1);
    }  
    .videogames-nav-content1 ul:hover li a:hover{
        color: white;
        transition: all .2s;
    }

    /* ////////////////////// */
.videogames-nav-content2{

}
.videogames-nav-content2 > ul {
display: flex;
gap: 20px;
}
.videogames-nav-content2 > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    }
.content1-login{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: rgb(70,55,242);
    background: linear-gradient(90deg, rgba(70,55,242,1) 0%, rgba(100,60,248,1) 34%, rgba(136,67,254,1) 80%);
    margin-right: 30px;
}
.content1-mail{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: rgb(70,55,242);
    background: linear-gradient(90deg, rgba(70,55,242,1) 0%, rgba(100,60,248,1) 34%, rgba(136,67,254,1) 80%);

}
.videogames-header{
    width: 98%;
    height: 280px;
    background-color: rgba(78, 88, 235, 0.3);
    border-radius: 20px;
    border: none;
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.videogames-header-interno{
    width: 96%;
    height: 230px;
    background-color: rgba(78, 88, 235, 0.3);
    border-radius: 20px;
    
}


.btn-grad {background-image: linear-gradient(to right, #5FC3E4  0%, rgba(136,67,254,1)  51%, #5FC3E4   100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   /* text-transform: uppercase; */
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }
 .header-container-btn{
     width: 180px;
     height: 60px;
     border-radius: 20px;
     border: none;
     cursor: pointer;
    /* filter: blur(1px) opacity(0.4); */
    background-image: linear-gradient(to right, #5FC3E4  0%, rgba(136,67,254,1)  51%, #5FC3E4   100%);
    transition: all 2s;
    background-size: 200% auto;
    margin-top: 40px;
    font-size: 25px;
    color: #ffffff;
    
 }
 .header-container-btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
    transition: all 2s;
    background-image: linear-gradient(to right,rgba(136,67,254,1)   0%, #5FC3E4  51%, rgba(136,67,254,1)   100%);
  }
  .header-container > h3{
      transform: translate(0, -65px);
      cursor: pointer;
  }


.videogames-pages{
    width: 98%;
    height: 460px;
    background-color: rgba(78, 88, 235, 0.3);
    border-radius: 20px;
    margin-top: 33px;
}
.videogames-pages-interno{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.videogames-pages-content2{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.ul-game {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.ul-game-li{
    width: 160px;
    height: 170px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;

   
    background-color: rgba(78, 88, 235, 0.3);
    border-radius: 20px;
}
.ul-game > li > a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
.ul-game > li > a > p{
    width: 100%;
    height: 40px;
  margin: 0;
  margin-bottom: 5px;
}
.ul-game > li > a > img{
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    /* position: absolute; */
    /* margin-top: px; */
  }
.videogames-pages-btn{
position: absolute;
right: 0;
bottom: 0;
transform: translate(-220px, -50px);
display: flex;
flex-direction: column;
}
.page-btn-1{
width: 100px;
height: 50px;
border-radius: 20px;
border: none;
background: rgb(70,55,242);
background: linear-gradient(90deg, rgba(70,55,242,1) 0%, rgba(100,60,248,1) 34%, rgba(136,67,254,1) 80%);
color: #ffffff;
font-size: 18px;
transform: translate(55px, -50px);
cursor: pointer;
}
.page-btn-2{
    width: 100px;
height: 50px;
border-radius: 20px;
border: none;
background: rgb(70,55,242);
background: linear-gradient(90deg, rgba(70,55,242,1) 0%, rgba(100,60,248,1) 34%, rgba(136,67,254,1) 80%);
color: #ffffff;
font-size: 18px;
cursor: pointer;
}
.Loading{
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation-loading{
    display: flex;
    justify-content: center;
}
.animation-loading > div {
    width: 16px;
    height: 16px;
    margin: 3rem 0.2rem;
    background: #0047ff;
    border-radius: 50%;
    animation: animation-loading 0.6s infinite alternate;
}

.animation-loading > div:nth-child(2){
    animation-delay: 0.2s;
}
.animation-loading > div:nth-child(3){
    animation-delay: 0.2s;
}

@keyframes animation-loading {
    to {
        opacity: 0.1;
        transform: translate3d(0, 16px, 0);
    }
}